<the-hero></the-hero>
<section class="section" id="chef-section">
  <div class="container">
    <h3>Møt vår verdensberømte sushi-kokk</h3>
    <p>
      Shitsu Hiroka  har vunnet  verdensmesterskap i Sushi en gang i 2004. 
      Han liker å lage vakker sushi som tåler transport, <strong> at du får en 
      ekslusiv sushi opplevelse i din egen stue.</strong>
    </p>
    <div class="circle">
    </div>
  </div>
</section>
<section class="section" id="menu-section">
</section>
<section class="section" id="contact-section">
  <div class="container">
    <h3>Kontakt oss!</h3>
    <p>
      Ønsker du å bestille sushi over telefon?Har du andre spørsmål?
      Kontakt oss!  
    </p>
    <div class="circle">
    </div>
  </div>
  </div>
</section>