<section class="section" id="universal-section">
  <div class="container">
    <h3>Universell Utforming</h3>
    <article class="note uu-article" data-aos="zoom-out" data-aos-duration="1500"
          data-aos-easing="ease-in">
      <h4>Universell Utforming</h4>
      <p>
        Fancy Sushi ønsker å inspirere andre til å gjøre deres hjemmesider universellt uformet,
        fordi de tar det på alvor. Derfor har vi laget en side med praktiske eksempeler i webutvikling.
      </p>
    </article>
    <article class="note uu-article" data-aos="zoom-in" data-aos-duration="3000"
          data-aos-easing="ease-out">
      <h4>Hva er universell utforming?</h4>
      <p>
        Det er utforming eller tilrettelegging av hovedløsningen
        til tjenesten så den kan brukes av flest mulig,
        uavhengig av nedsatt funksjonsevne.
      </p>
      <h4>Utfordringer som kan trenge tilrettelegging</h4>
      <ul>
        <li>Bevegelsesutfordringer</li>
        <li>Konsentrasjonsvansker</li>
        <li>Hukommelsesvansker</li>
        <li>Blindhet</li>
        <li>Svaksynt</li> 
        <li>Lesevansker</li>
      </ul>
    </article>
    <article id="WCAG 1.4.3" class="note uu-article" data-aos="fade-right" data-aos-duration="1000">
      <h4>Kontrast</h4>
      <p>
        For at så mange som mulig skal klare å lese tekst på nettsiden
        er det viktig med god nok kontrast.
        <br><br>
        Det er et lovpålagt krav i norge med god nok kontrast,
        <strong>WCAG 1.4.3</strong>.
      </p>
    </article>
    <article id="WCAG 1.1.1" class="note uu-article" data-aos="fade-left" data-aos-duration="2000">
      <h4>Alternativ Tekst</h4>
      <p>
        Det er også et lovpålagt krav med
        alternativ tekst for ikke-tekstlig innhold,
        <strong>WCAG 1.1.1</strong>.
        <br><br>
        For å løse dette kan vi bruke alt-attributtet på bilder og skrive en forklarende tekst av bildet,
        slik at skjermlesere kan lese høy for de som eksempelvis er blinde.
        <br><br>
        En Alt-tekst består av to deler.
      </p>
      <ul>
        <li>
          Den første delen beskriver objektivt hva som er på bildet.
        </li>
        <li>
          Den andre delen forklarer hva slags bilde det er, eksempelvis foto, illustrasjon, modell.
        </li>
      </ul>
    </article>
    <article class="note uu-article" data-aos="flip-left" data-aos-duration="1000">
      <h4>Lenker i brødtekst</h4>
      <p>
        Lenker i tekst skal stilsettes med farge, understrek og gjerne et ikon.
        Det er viktig at lenker skiller seg ut fra vanlig tekst, og at når man tar musepekeren over endrer
        den seg til en pointer.
        <br><br>
        Lenketeksten skal være beskrivende for hvor lenken fører.
        <br><br>
        Et eksempel på en godt utformet lenke:
      </p>
      <a href="#ng"><i class="fas fa-link"></i> Fancy Sushi sin meny</a>
      <p>Dette er en bedre lenketekst hvor du tydelig vet hvor du kommer.</p>
    </article>
    <article class="note uu-article" data-aos="flip-right" data-aos-duration="1500">
      <h4>Språk</h4>
      <p>
        For at skjermleserne skal lese opp innholdet på riktig måte er det viktig at vi koder riktig språk i html.
        Dette kan du gjøre ved å legge till attributtet "lang=" i html-taggen.
      </p>
      <ul>
        Språkkoder
        <li>Norsk = no</li>
        <li>Norsk bokmål = nb</li>
        <li>Nynorsk = nn</li>
        <li>Norsk = no</li>
        <li>Engelsk = en</li>
      </ul>
      </p>
    </article>
    <article class="note uu-article" data-aos="flip-up" data-aos-duration="2000">
      <h4>Overskrifter</h4>
      <p>Overskrifter på siden gir struktur og oversiktelig tekst som er lett å lese,
        om det brukes riktig.
        <br><br>
        h1-tag skal inneholde et tydelig budskap som formidler hva virksomheten driver med.
        Denne skal gjerne være høyt og i stor font-størrelse på forsiden.
        <br><br>
        Rekkefølgen på overskriftselementer skal være konkret, og du kan ikke hoppe over et nivå.
        <br><br>
        Det er f.eks ikke lov å ha en h1-tag også lage en h3-tag under, da skal du bruke en h2-tag
        Hvis man ønsker mindre eller større visuell overskrift kan du endre på størrelsen til h-taggen med CSS.
      </p>
    </article>
  </div>
</section>